@if (isVisible)
{
    <div class="alert alert-@AlertType" role="alert">
        @Message
    </div>
}

@functions{

    private bool isVisible = false;

    [Parameter]
    public string AlertType { get; set; }

    [Parameter]
    public string Message { get; set; }



    public void Show()
    {
        isVisible = true;
    }

    public void Hide()
    {
        isVisible = false;
    }
}